body{
    width: 100%;
    height: 1000px;
    max-height: 1000px;
    margin: 120px auto;
    font-family: sans-serif;
    color: #2A0934;
    background-image: url("jason-leung-tCAeh1Xs0Sw-unsplash.jpg");  
    background-repeat: no-repeat;
    background-size: 148% 110%;
    background-position: bottom center;
}
#forgotpass-container{
    width: 500px;
    height: 400px;
    max-width: 500px;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    border: 4px solid none;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 1px 1px 1px 1px rgba(54, 28, 28, 0.1);
    background-color:rgb(212, 221, 247, 0.8);
    background-repeat: no-repeat;
    background-size: 100% 137%;
    background-position: bottom center;
}
.logo{
    margin-top: 15px;
    border: 2px outset #D4DDF7;
    border-radius: 10px 30px;
}
h1{
    display: block;
    margin-top: 30px;
}
fieldset{
    border:none;
}
#resetpass{
    display: block;
    margin: auto;
    width: 70%;
    height: 50px;
    border-radius: 50px;
    border: 3px rgba(234,240,254,0.8); 
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 18px;
}
#reset-submit{
    display: block;
    margin: auto;
    width: 60%;
    height: 50px;
    border-radius: 50px;
    margin-top: 30px;
    font-size: 18px;
    border: 2px solid rgba(255, 255, 255, 0.9);
    border-color: rgba(255, 255, 255, 0.9);
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 2px 2px 2px rgba(46, 29, 40, 0.5);
}
@media only screen and (max-width: 768px){
    body{
        width: 100%;
        
        background-image: url("jason-leung-tCAeh1Xs0Sw-unsplash.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
      }
    #forgotpass-container{
        border-radius: 0;
        width: 80%;
        height: 550px;
        margin: auto;    
    }
    h1{
        margin-top: 50px;
    }
    p{
        margin-top: 50px;
    }
    #resetpass{
        margin-top: 50px;
        height: 70px;   
    }
    #reset-submit{
        margin-top: 50px;
        height: 70px;
    }
}
